.headerbg {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ), url('../../public/assets/images/hero_web.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 639.5px) {
  .headerbg {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ), url('../../public/assets/images/hero_mobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

